*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
    --orange: #FF7143;
    --blue: #5454d4;
    --background: #F9F8FE;
}

body{
    font-family: 'Archivo', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
}

.container--headof{
    padding: 0;
}

.nav{
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu{
    background-color: var(--orange);
    width: 35px;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
}

.nav__list{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--blue);
    padding: 80px 0;

    display: grid;
    place-content: center;
    text-align: center;
    gap: 2.5rem;

    list-style: none;

    transform: translate(-100%);
    transition: transform .3s;
}

.nav__list--show{
    transform: translate(0);
}

.nav__link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.about{
    background-color: var(--background);
}

.about__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__img{
    display: block;
    margin: 0 auto;
    width: 90%;
    aspect-ratio: 1/1;
    max-width: 280px;
    object-fit: cover;
    object-position: top;
    background-color: #5454d4;
    border-radius: 50%;
}

.about__texts{
    text-align: center;
    display: grid;
    gap: 1.5rem;
}

.subtitle{
    text-align: center;
    font-size: 2.1rem;
}

.paragraph{
    line-height: 1.5;
    font-weight: 300;
}

.tech__articles{
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}

.tech__article{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

    display: grid;
    gap: 1rem;
}

.tech__img{
    display: block;
    margin: 0 auto;
    max-width: 250px;
    width: 60%;
}

.scrolling-container {
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
}

/* Estilo del contenedor de tarjetas */
.tarjetas-section {
    display: inline-block;
}

/* Estilo de cada tarjeta */
.tarjeta {
    width: 300px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.card__img {
    max-width: 125px;
    width: 60%;
}

.paragraph {
    margin: 10px 0;
}


/* Estilo para proyectos*/
/*Nuevo slide*/

.proyecto__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.subtitle-tec {
    text-align:center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
.display-container {
    margin-right: 20px;
}

.proyecto__img{
    width: 100%;
    position: relative;
    border-radius: 5%;
}

.description {
    margin-left: 2rem;
}


.display-container {
    position: relative;
}

.button {
    position: absolute;
    top: 50%;
}

.display-left {
    left: 0;
}

.display-right {
    right: 0;
}

/*Footer*/

.footer{
    background-color: var(--background);
}

.footer__contact{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}

.footer__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color);
}

.footer__item:nth-of-type(1){
    --color: #ffffff;
}
.footer__item:nth-of-type(2){
    --color: #ffffff;
}
.footer__item:nth-of-type(3){
    --color: #ffffff;
}

.footer__img{
    width: 28px;
}

@media (min-width:768px) {


    .nav__menu{
        display: none;
    }

    .nav__list{
        position: static;
        background-color:transparent;
        padding: 0;

        display: flex;
        gap: 2rem;

        list-style: none;

        transform:unset;
        transition:none;
    }

    .nav__list--show{
        transform:unset;
    }

    .nav__link{
        color: var(--orange);
    }

    /* hero-main */

    .headof__main{
        flex-direction: row;
        gap: 40px;
        min-height: 550px;
        align-items: center;
    }

    .headof__figure{
        order: 0;
        padding: 0;
        width: 46%;
    }

    .headof__img{
        max-width: 450px;
    }

    .headof__texts{
        width: 54%;
        text-align: start;
        gap:2rem;
        padding-bottom:0;
    }

    .headof__title{
        font-size: 3rem;
    }

    .headof__paragraph{
        margin-bottom: 0;
    }

    .headof__cta{
        justify-self: start;
    }

    
    /* about */

    .about__container{
        flex-direction: row;
    }

    .about__figure{
        width: 30%;
    }

    .about__img{
       width: 100%;
    }


    .about__texts{
        width: 70%;
        text-align: start;
        place-content: center;
    }

    .subtitle{
        text-align: inherit;
        font-size: 2.5rem;
    }


    /* learn */

    .tech{
        text-align: center;
    }

    .tech__articles{
        gap: 2rem;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .tech__article{
        gap: 1.5rem;
    }

    .proyecto__articles {
        grid-template-columns: 1fr 2fr;
    }

    .proyecto__img{
        width: 680px;
    }
    /* footer */

    .footer{
        text-align: center;
    }

    

}

